@import "tailwindcss";

@theme {
  --color-bg: #FAFAFA;
  --color-text: #111111;
  --color-accent: #F97316;
  --color-dark: #0F172A;

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}