@import "tailwindcss";

@theme {
    --color-bg: #FAFAFA;
    --color-text: #111111;
    --color-accent: #F97316;
    --color-dark: #0F172A;

    --font-heading: var(--font-heading);
    --font-body: var(--font-body);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
}


@theme {
  --color-bg: #FAFAFA;
  --color-text: #111111;
  --color-secondary: #6B7280;
  --color-accent: #F97316;
  --color-dark: #0F172A;
  --color-border: #E5E7EB;

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}
@keyframes string-length {
  0%, 100% {
    height: 90px;
  }
  40%, 55% {
    height: 20px;
  }
}

@keyframes ball-motion {
  0%, 100% {
    transform: scale(1.15, 0.8);
  }
  15%, 75% {
    transform: scale(1, 1);
  }
  40%, 55% {
    transform: scale(1, 1);
  }
}



@keyframes ball-color {
  0%, 100% {
    background-color: #F97316;
  }
  40%, 55% {
    background-color: #0F172A;
  }
}

.animate-string {
  animation: string-length 1.6s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

.animate-ball {
  animation:
    ball-motion 1.6s cubic-bezier(0.45, 0, 0.55, 1) infinite,
    ball-color 1.6s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}